#root {
  width: 100vw;
  max-width: 1280px;
  /* margin: 0 auto; */
  text-align: center;
}
.appWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.headerWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerWrapper img{
  height: 3rem;
  margin-right: 0.75rem;
}
/* .formWrapper{
  max-width: 800px;
} */
.inputForm{
  display: flex;
  flex-direction: column;
}
.arrowWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 2rem 0;
}
.arrow-line{
  background-color: white;
  width: 10px;
  min-height: 50px;
  height: 100%;
  max-height: 150px;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}
.conversionWrapper{
  margin: 2rem 0;
  width: 100%;
  max-width: 600px;
  overflow-y: hidden;
  border: 2px solid white;
}
.conversionResults{
  height: calc(80vh - 36px);
  overflow-y: auto;
}
.currencyConversion:nth-of-type(odd){
  background-color: rgb(46, 46, 46);
}
.currencyConversion p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem 1rem;
}
.flagWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .75rem;
}
p .flagWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .75rem 0 0;
}
.targetOutputWrapper h2{
  margin: 0;
}
@media screen and (max-width: 800px) {
  .headerWrapper{
    flex-direction: column;
  }
  .headerWrapper img{
    margin-right: 0rem;
  }
  .headerWrapper h1{
    margin-top: 1rem;
  }
}