#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}
.inputForm{
  display: flex;
  flex-direction: column;
}
.arrowWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 2rem 0;
}
.arrow-line{
  background-color: white;
  width: 10px;
  min-height: 50px;
  height: 100%;
  max-height: 150px;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}
.conversionWrapper{
  margin: 2rem 0;
  width: 100%;
  border: 2px solid white;
}
.currencyConversion:nth-of-type(odd){
  background-color: rgb(46, 46, 46);
}
.currencyConversion p{
  margin: 0;
  padding: 2rem 0;
}
.targetOutputWrapper h2{
  margin: 0;
}